<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
<body>
    {{- partial "header.html" . -}}


    <div class="Mteam container">
        <div class="d-flex flex-lg-row flex-column-reverse justify-content-between align-items-center gap-3 abtMain">
            <div class="about-content">
                <p class="mb-3 aboutHeader">About <span>V formation</span></p>
                <p class="mb-0 abtText">Welcome to V Formation Consulting, the premier consulting firm dedicated to propelling your organization towards unparalleled success. Founded by Dr. Charles Drury, our mission is to elevate client organizations to operational supremacy by offering bespoke solutions that ignite passion and fulfill aspirations. We believe in the transformative power of unity, focusing on three pillars: spirit, health, and mind. Our vision is to elevate lives, ensuring everyone reaches their zenith potential through strategic wisdom and unwavering support.<br><br>
                    At V Formation Consulting, we specialize in providing funding to help startups get off the ground, solve critical problems, and scale their businesses. We unite teams, filling in the missing pieces and guiding businesses toward excellence. Our expert advice and resources are designed to help you thrive in an ever-changing landscape. Fly with us towards extraordinary results, united as one, and experience the difference that true dedication and strategic insight can make.</p>
            </div>
            <div class="theVideo">
                <video autoplay muted loop id="myAbtVideo">
                    <source src="/assets/img/video1.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video>
            </div>
        </div>

        <div class="wwd">
            <h1 class="mb-4" style="color: purple">What we do</h1>
            <ol>
                <li class="mb-2">Funding PE and VC.</li>
                <li class="mb-2">Brand management (PR, Social Media, content Creation, digital marleting)</li>
                <li class="mb-2">Consumer and professional products</li>
                <li class="mb-2">Market Analysis</li>
                <li class="mb-2">Pitch decks and prep for raise</li>
                <li class="mb-2">Distribution and logistics</li>
                <li class="mb-2">Sales Enablement</li>
                <li class="mb-2">Lean Management</li>
                <li>Leadership Training and culture</li>
            </ol>
        </div>
    
        <div class="d-flex flex-lg-row flex-column gap-4 align-items-lg-start align-items-center justify-content-lg-between justify-content-center container mt-5" id="meet">
            <div class="card-box d-flex flex-column gap-3 mb-3">
                <div style="height: 350px;">
                    <div class="theImage"></div>
                    <div class="py-2 px-4 tags">
                        <p class="mb-1 nameTag">Dr. Charles L. Drury, DDS, AEGD, FAGD, FIADFE, FICD  </p>
                        <p class="mb-1 positionTag">CEO & Founder of V Formation Consulting </p>
                        <span><b>Mobile:</b> 619-807-3285  <br></span>
                        <span><b>Email:</b> charlesldrury@outlook.com</span>
                    </div>
                </div>
                <hr>
                <div class="pb-4">
                    <div class="d-flex justify-content-between align-items-center clickable-div px-3" data-target="hidden1" style="cursor: pointer;">
                        <p class="mb-0">Click for Bio</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="rgba(128,0,128,1)"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11 11H7V13H11V17H13V13H17V11H13V7H11V11Z"></path></svg>
                    </div>
                    <div class="person-desc px-3" id="hidden1">
                        Welcome to V Formation Consulting, where we propel organizations to success by providing strategic wisdom and tailored solutions. Founded by Dr. Charles Drury, we offer funding to help startups launch, solve problems, and scale their businesses. Our mission is to elevate lives, ignite passion, and ensure everyone reaches their full potential.
                        <br><br>
                        <b class="pt-2">Proverbs 27:17</b>"As iron sharpens iron, so one person sharpens another."  <br>
                        
                    </div>
                </div>
                
            </div>
            <div class="card-box d-flex flex-column gap-3 mb-3">
                <div style="height: 350px;">
                    <div class="theImage"></div>
                    <div class="py-2 px-4">
                        <p class="mb-0">Darren Nakos, CCIM</p>
                        <p class="mb-0">Management Partner</p>
                        <a href="#">Schedule a Meeting</a>
                    </div>
                </div>
                <hr>
                <div class="pb-4">
                    <div class="d-flex justify-content-between align-items-center clickable-div px-4" data-target="hidden2">
                        <p class="mb-0">Click for Bio</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="rgba(128,0,128,1)"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11 11H7V13H11V17H13V13H17V11H13V7H11V11Z"></path></svg>
                    </div>
                    <div class="person-desc px-3" id="hidden2">
                        Welcome to V Formation Consulting, where we propel organizations to success by providing strategic wisdom and tailored solutions. Founded by Dr. Charles Drury, we offer funding to help startups launch, solve problems, and scale their businesses. Our mission is to elevate lives, ignite passion, and ensure everyone reaches their full potential.
                        <br><br>
                        <b class="pt-2">Proverbs 27:17</b>"As iron sharpens iron, so one person sharpens another."  <br>
                    </div>
                </div>
            </div>
            <div class="card-box d-flex flex-column gap-3 mb-3">
                <div style="height: 350px;">
                    <div class="theImage"></div>
                    <div class="py-2 px-4">
                        <p class="mb-0">Darren Nakos, CCIM</p>
                        <p class="mb-0">Management Partner</p>
                        <a href="#">Schedule a Meeting</a>
                    </div>
                </div>
                <hr>
                <div class="pb-4">
                    <div class="d-flex justify-content-between align-items-center clickable-div px-3 mb-0" data-target="hidden3">
                        <p class="mb-0">Click for Bio</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="rgba(128,0,128,1)"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11 11H7V13H11V17H13V13H17V11H13V7H11V11Z"></path></svg>
                    </div>
                    <div class="person-desc px-3" id="hidden3">
                        Welcome to V Formation Consulting, where we propel organizations to success by providing strategic wisdom and tailored solutions. Founded by Dr. Charles Drury, we offer funding to help startups launch, solve problems, and scale their businesses. Our mission is to elevate lives, ignite passion, and ensure everyone reaches their full potential.
                        <br><br>
                        <b class="pt-2">Proverbs 27:17</b>"As iron sharpens iron, so one person sharpens another."  <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{- partial "footer.html" . -}}


    <style>
         #mainNav .nav-link {
            color: black;
         }
         #mainNav .login {
            color: rgb(255, 255, 255, 0.75);
         }
         #mainNav .nav-link:hover {
            color: purple;
         }
         .theVideo {
            width: 50%;
         }
         #myAbtVideo {
            width: 100%;
            max-height: 100%;
         }
         .about-content {
            width: 50%;
         }
         .aboutHeader {
            font-size: 2rem;
            font-weight: 600;
            color: #202020;
            line-height: 1;
         }
         .aboutHeader span {
            color: purple;
         }
         .abtText {
            font-size: 14px!important;
         }
         .abtMain {
            margin-bottom: 8rem;
         }
         @media only screen and (max-width: 991px) {
            .theVideo, .about-content {
                width: 100%;
            }
            .person-desc {
                font-size: 12px!important;
            }
            #mainNav .nav-link {
                color: rgb(255, 255, 255, 0.75);
            }
            #mainNav .nav-link:hover {
                color: purple;
            }
         }
    </style>
</body>
</html>