<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container px-lg-0 px-3">
        <a class="navbar-brand" href="/"><img src="/assets/img/logo.png" width="250px" height="auto"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <!-- <ul class="navbar-nav ms-auto">
                {{ range site.Menus.main }}
                <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul> -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-items"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAbout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        About us
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDropdownAbout">
                        <li><a class="dropdown-item" href="/about/">About Vformation</a></li>
                      <li><a class="dropdown-item" href="/about/#meet">Meet the team</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown ">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownServices" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Services
                  </a>
                  <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDropdownServices">
                      <li><a class="dropdown-item" href="/services/#funding">Funding</a></li>
                      <li><a class="dropdown-item" href="/services/#connection">Connection</a></li>
                      <li><a class="dropdown-item" href="/services/#guidance">Stragetic guidance</a></li>
                      <li><a class="dropdown-item" href="/services/#analysis">Market analysis</a></li>
                      <li><a class="dropdown-item" href="/services/#branding">Branding</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownResources" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Resources
                  </a>
                  <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDropdownResources">
                      <li><a class="dropdown-item" href="/">Portfolio</a></li>
                      <li><a class="dropdown-item" href="/blog/">Blog/Podcast</a></li>
                  </ul>
                </li>
                <!-- <li class="nav-items"><a href="/" class="nav-link">Portfolio</a></li>
                <li class="nav-items"><a href="/blog/" class="nav-link">Blog/Podcast</a></li> -->
                <li class="nav-items"><a href="/contact/" class="nav-link">Contact us</a></li>
                <li class="nav-items d-flex flex-column justify-content-center align-items-lg-center align-items-start"><a href="/login/" class="nav-link d-flex flex-column justify-content-center align-items-lg-center py-3 px-4 rounded-2 login" style="background: purple; height: 20px;">Log in</a></li>
            </ul>
    </div>
</nav>